POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345

PGADMIN_EMAIL=admin@fastsafe.local
PGADMIN_PASSWORD=12345

OLTP_URI=postgresql+psycopg2://postgres:12345@localhost:5433/aquitoy_2
OLAP_URI=postgresql+psycopg2://postgres:12345@localhost:5433/olap_fastandsafe