POSTGRES_USER=postgres
POSTGRES_PASSWORD=CAMBIAR_ESTA_CONTRASENA
POSTGRES_DB=postgres

PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=CAMBIAR_ESTA_CONTRASENA

OLTP_URI=postgresql+psycopg2://USUARIO:CONTRASENA@localhost:5433/aquitoy_2
OLAP_URI=postgresql+psycopg2://USUARIO:CONTRASENA@localhost:5433/olap_fastandsafe
